%html
  %body
    %div
      %div.row
        %div.col-md-12
          %div.row
            %div.col-md-3
            %div.col-md-6
              %h1 Listing users
              -#%div.search
              -#  = form_tag contacts_path, class: "form-group flex_f", method: :get do
              -#    = search_field_tag :search, params[:search], placeholder: "Search", class: "form-control flex"
              -#    = button_tag "Search", name: nil, class: "btn btn-default"
              %div.table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th Email

                  %tbody
                    - @users.each do |user|
                      %tr
                        %td= user.email

              %br

            %div.col-md-3
