= form_for @contact, html: {class: "form-group", multipart: true} do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  %div
    %div
      = f.label :avatar
    = image_tag @contact.avatar.url(:thumb) if @contact.avatar_file_name != nil
    = f.file_field :avatar
  .field
    = f.label :name
    = f.text_field :name, class: "form-control"
  .field
    = f.label :last_name
    = f.text_field :last_name, class: "form-control"
  .field
    = f.label :email
    = f.text_field :email, class: "form-control"
  .field
    = f.label "Type:"
    = f.label "Family"
    = f.check_box :family
    = f.label "Friends"
    = f.check_box :friends
    = f.label "Coworker"
    = f.check_box :coworker
  %div
    = add_child_button "Add Phone Number",:phone_numbers,"#tasks"
    = new_fields_template f, :phone_numbers
  #tasks
    = f.fields_for :phone_numbers do |builder|
      %div
        = render "phone_number_fields", :f => builder
  .actions
    = f.submit 'Save', class: "btn btn-default"

