%div.col-md-4
%div.col-md-4
  %h1 Editing contact
  = render 'form'

  = link_to 'Show', @contact, class: "btn btn-default"
  \|
  = link_to 'Back', contacts_path, class: "btn btn-default"
%div.col-md-4
