%div.row
  %div.col-md-2
  %div.col-md-8
    %h1 Listing contacts
    %div.search
      = form_tag contacts_path, class: "form-group flex_f", method: :get do
        = search_field_tag :search, params[:search], placeholder: "Search", class: "form-control flex"
        = button_tag "Search", name: nil, class: "btn btn-default"
    %div.table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th Avatar
            %th Name
            %th Last name
            %th Email
            %th Family
            %th Friends
            %th Coworker
            %th
            %th
            %th

        %tbody
          - @contacts.each do |contact|
            %tr
              %td= image_tag contact.avatar.url(:thumb)
              %td= contact.name
              %td= contact.last_name
              %td= contact.email
              %td= contact.family
              %td= contact.friends
              %td= contact.coworker
              %td= link_to 'Show', contact, class: "btn btn-info"
              %td= link_to 'Edit', edit_contact_path(contact), class: "btn btn-warning"
              %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

    %br

    = link_to 'New Contact', new_contact_path, class: "btn btn-default"
  %div.col-md-2