%div.row
  %div.col-md-12
    %div.col-md-4
    %div.col-md-4
      %p
        = image_tag @contact.avatar.url(:medium)
      %p
        %b Name:
        = @contact.name
      %p
        %b Last name:
        = @contact.last_name
      %p
        %b Email:
        = @contact.email
      %p
        %b Contact type:
        = @contact.family
        = @contact.friends
        = @contact.coworker
      %p
        %b User:
        = @contact.user.id
      %p
        - @contact.phone_numbers.each do |p|
          %td= p.phone

      = link_to 'Edit', edit_contact_path(@contact), class: "btn btn-default"
      \|
      = link_to 'Back', contacts_path, class: "btn btn-default"
    %div.col-md-4
