%div.row
  %div.col-md-12
    %div.navbar.navbar-default
      %div.container
        = link_to 'Home', "/", class: "btn btn-default navbar-btn"
        = link_to 'Contacts', contacts_path, class: "btn btn-default navbar-btn"
        - if user_signed_in?
          = link_to 'Logout', destroy_user_session_path, :method => :delete, class: "btn btn-default navbar-btn"
        - else
          = link_to 'Sign In', new_user_session_path, class: "btn btn-default navbar-btn"
          = link_to 'Sign Up', new_user_registration_path, class: "btn btn-default navbar-btn"